HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

.rebel

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
../.idea
*.iws
*.class
*.iml
*.ipr
/target/*
/target
*/target/
*/target/**
*target


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

/logs
*.log
rebel.xml
oit-authority/src/main/resources/rebel.xml
oit-cloud-framework/boot-framework-starter/src/main/resources/rebel.xml
oit-cloud-framework/common-framework-starter/src/main/java/rebel.xml
oit-cloud-framework/database-framework-starter/src/main/resources/rebel.xml
oit-cloud-framework/oauth2-framework-starter/src/main/java/rebel.xml
oit-cloud-framework/slider-framework-starter/src/main/resources/rebel.xml
oit-cloud-framework/swagger-framework-starter/src/main/resources/rebel.xml
oit-gateway/src/main/resources/rebel.xml
oit-products/src/main/resources/rebel.xml
oit-cloud-tcn/src/main/resources/rebel.xml
/bak/**
/bak/oitcloud/repository/*
/oit-cloud-authority/**
/oit-cloud-authority/*
/oit-cloud-authority/
/oit-cloud-authority/**/**
/oit-cloud-authority/src/
/oit-cloud-authority/pom.xml
/.idea/
