HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

.rebel

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
../.idea
*.iws
*.class
*.iml
*.ipr
/target/*
/target
*/target/
*/target/**
*target


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

/logs
*.log
rebel.xml
/bak/**
/.idea/
