<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battcn.system.provider.mapper.ManagerMapper">

	<select id="listManagerByName" resultType="com.battcn.system.pojo.dto.ManagerDto">
		SELECT t1.*,t2.name roleName,t2.code roleCode FROM t_sys_manager t1 JOIN t_sys_role t2
		ON t2.id = t1.role_id
		WHERE 1 = 1
		<if test="name != null and name != ''">
			AND t1.name = #{name}
		</if>
		<if test="account != null and account != ''">
			AND t1.account = #{account}
		</if>
	</select>



</mapper>