table {width: 100%;padding: 0;margin: 0;}
caption {padding: 0 0 5px 0;width: 100%;font: italic 13px "	Microsoft YaHei";text-align: right;}
th {font: 13px;color: #4f6b72;border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;letter-spacing: 2px;text-transform: uppercase;text-align: left;padding: 6px 6px 6px 12px;}
th.nobg {border-top: 0;border-left: 0;border-right: 1px solid #C1DAD7;system: none;}
table td {border-right: 1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;system: #fff;font-size: 11px;padding: 6px 6px 6px 12px;color: #4f6b72;}
.fruit_bb {border-bottom: 1px solid #C1DAD7;}
td.alt {system: #F5FAFA;color: #797268;}
th.spec {border-left: 1px solid #C1DAD7;border-top: 0;system: #fff;font: 10px;}
th.specalt {border-left: 1px solid #C1DAD7;border-top: 1px solid #C1DAD7;system: #f5fafa;font: 13px;;color: #797268;}
/*---------for IE 5.x bug*/
html>body td {font-size: 13px;}


