<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wemirr.platform.bpm.repository.ProcessTaskExtMapper">

    <!--通过实体作为筛选条件分页查询-->
    <select id="pageList"
            resultType="com.wemirr.platform.bpm.domain.resp.ProcessTaskExtResp">
        SELECT
        t1.*,
        t2.proc_inst_status
        FROM wp_process_task_ext t1
        LEFT JOIN wp_process_instance_ext t2 ON t1.proc_inst_id = t2.proc_inst_id
        <where>
            t1.deleted = 0 and FIND_IN_SET(#{req.approverId}, t1.assignee) > 0
            <if test="req.procDefName != null and req.procDefName != ''">
                AND t1.proc_def_name LIKE CONCAT(#{req.procDefName, jdbcType=VARCHAR},'%')
            </if>
            <if test="req.procTaskName != null and req.procTaskName != ''">
                AND t1.proc_task_name LIKE CONCAT(#{req.procTaskName, jdbcType=VARCHAR},'%')
            </if>
            <if test="req.procInstName != null and req.procInstName != ''">
                AND t1.proc_inst_name LIKE CONCAT(#{req.procInstName, jdbcType=VARCHAR},'%')
            </if>
        </where>
        ORDER BY t1.id DESC
    </select>

</mapper>
