<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wemirr.platform.bpm.repository.ProcessDeployHistoryMapper">

    <!-- 通过历史模型id物理删除 -->
    <delete id="physicalDeleteByModelId">
        DELETE
        FROM wp_process_deploy_history
        WHERE model_id = #{modelId, jdbcType=VARCHAR}
    </delete>

</mapper>
