<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>battcn-plus - 登录</title>
<link href="http://static.battcn.com/back/css/bootstrap.min.css?v=3.3.5"	rel="stylesheet" />
<link href="http://static.battcn.com/back/css/font-awesome.min.css?v=4.4.0"	rel="stylesheet" />
<link href="http://static.battcn.com/back/css/animate.min.css" rel="stylesheet" />
<link href="http://static.battcn.com/back/css/style.min.css?v=4.0.0" rel="stylesheet" />
<link href="http://static.battcn.com/back/css/login.min.css" rel="stylesheet" />
<script type="text/javascript" src="http://static.battcn.com/back/js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="http://static.battcn.com/back/js/plugins/layer/layer.min.js"></script>
<script>
	if (window.top !== window.self) {
		window.top.location = window.location
	};
	$(function() {
		layer.msg("如果数据有误,请点击初始化系统");
		install = function() {
			$.ajax({  
	            type: "GET",  
	            dataType: "JSON",  
	            url: "/install",  
	            beforeSend: function () {  
	            	$("#loginForm button").attr("disabled",true);
	            },
	            complete:function(){
	            	$("#loginForm button").attr("disabled",false);
	            },
	            success: function (data) {
	            	if(data.messageId == 200)
						layer.msg(data.message);
	            }
	        });  
		}
	})
</script>
</head>

<body class="signin">
	<div class="signinpanel">
		<div class="row">
			<div class="col-sm-7">
				<div class="signin-info">
					<div class="logopanel m-b">
						<h1>[ battcn-plus ]</h1>
					</div>
					<div class="m-b"></div>
					<h4>
						欢迎使用 <strong>battcn-plus </strong>
					</h4>
					<ul class="m-b">
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i>
							优势一：调用API，一键增删改查</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i>
							优势二：集成插件，不在为分页排序烦恼</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i>
							优势三：日志系统，进行数据分析</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i>
							优势四：持续更新，让系统更加强大</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i>
							优势五：界面自适应，兼容各大平台</li>
					</ul>
					<strong>还没有账号？ <a href="javascript:void(0);">立即注册&raquo;</a></strong>
				</div>
			</div>
			<div class="col-sm-5">
				<form method="post" action="login" id="loginForm">
					<p class="m-t-md">登录到battcn-plus后台</p>
					<input type="text" class="form-control uname" name="account"
						value="admin" placeholder="用户名" /> <input type="password"
						class="form-control pword m-b" name="password" value="123456"
						placeholder="密码" /> <a onclick="javascript:install();">初始化系统</a>
					<p style="font-size: 12px; color: red;" th:if="${msg != null}"
						th:text="${msg}"></p>
					<button class="btn btn-success btn-block">登录</button>
				</form>
			</div>
		</div>
		<div class="signup-footer">
			<div class="pull-left">&copy; 2016 battcn</div>
		</div>
	</div>
</body>

</html>