<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battcn.system.provider.mapper.OperateMapper">

	
	<select id="listShiroPermissionByRoleId" resultType="com.battcn.system.pojo.dto.ShiroPermission">
		SELECT t1.name menuName,concat(t1.channel,'/',t2.`op`) `path`,concat(t1.param,':',t2.op) perms  FROM t_sys_menu t1 JOIN t_sys_operate t2 ON t1.id = t2.menu_id
		JOIN t_sys_role_operate t3 ON t2.id = t3.operate_id 
		<if test="roleId != null and roleId != 0">
			AND role_id = #{roleId}
		</if>
	</select>
	
	
</mapper>