<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wemirr.platform.tools.repository.DynamicReleaseColumnMapper">

    <select id="findFieldByTableName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            `column_name`
        FROM
            information_schema.COLUMNS
        WHERE `TABLE_NAME` = #{tableName};
    </select>
</mapper>
