server:
  port: 5003
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: wemirr-platform-demo
  config:
    import:
      - optional:nacos:swagger.yaml # 这是有默认值的写法
      - optional:nacos:${spring.application.name}.properties
      - optional:nacos:mybatis-plus-default.yaml?group=DEFAULT_GROUP&refreshEnabled=true #这是完写法
  cloud:
    nacos:
      server-addr: wemirr-nacos:8848
      discovery:
        metadata:
          group: ${spring.application.name}
          version: 1.0
      config:
        server-addr: wemirr-nacos:8848
        refresh-enabled: true